@charset "UTF-8";

@font-face {
    font-family: Medium;
    src: url(assets/fonts/static/HankenGrotesk-Medium.ttf);
}

@font-face {
    font-family: Bold;
    src: url(assets/fonts/static/HankenGrotesk-Bold.ttf);
}

@font-face {
    font-family: ExtraBold;
    src: url(assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Medium, sans-serif;
    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

header {
    background-image: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: white;
    height: fit-content;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 1px rgba(0, 0, 0, 0.281);
    text-align: center;
}

header section {
    background-image: linear-gradient(180deg, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
}

header h1 {
    font-size: 64px;
    margin-top: 24px;
}

header section p {
    color: hsla(222, 100%, 96%, 0.5);
}

header h2 {
    font-weight: 500;
    margin-top: 10px;
}

header>p {
    color: hsla(222, 100%, 96%, 0.8);
    padding: 14px 20px 20px;
}

main {
    padding: 20px 30px;
}

main h2 {
    color: hsl(224, 30%, 27%);
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: left;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;

    font-weight: 600;
}

ul li {
    border-radius: 10px;
    height: 6vh;
    padding: 16px;

    display: flex;
    align-items: center;
    gap: 10px;

    position: relative;
}

ul li p {
    position: absolute;
    right: 16px;
}

#reaction {
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);
}

#memory {
    background-color: hsl(39, 100%, 56%, .1);
    color: hsl(39, 100%, 56%)
}

#verbal {
    background-color: hsl(166, 100%, 37%, .1);
    color: hsl(166, 100%, 37%);
}

#visual {
    background-color: hsl(234, 85%, 45%, .1);
    color: hsl(234, 85%, 45%);
}

ul li p {
    color: hsla(0, 0%, 0%, 0.5);
}

ul li strong {
    color: hsl(224, 30%, 27%);
}

input {
    width: 100%;
    height: 7vh;
    padding: 10px;
    margin: 24px auto 0;
    border-radius: 40px;
    border: none;
    background-color: hsl(224, 30%, 27%);

    color: white;
    font-weight: 600;
    font-size: 1em;
}

footer {
    font-size: .8em;
    text-align: center;
}

@media (min-width: 768px) {
    body {
        height: fit-content;
    }

    div {
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 150px;

        background-color: white;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.205);
        width: fit-content;
        height: fit-content;
        border-radius: 30px;
    }

    header {
        width: 380px;
        height: 500px;
        border-radius: 30px;
        padding: 24px;

        font-size: 1.2em;

        z-index: 1;
    }

    header section {
        width: 200px;
        height: 200px;
    }

    header h1 {
        margin-top: 48px;
    }

    header h2 {
        margin-top: 20px;
        padding: 12px;
        font-size: 1.6em;
    }

    main {
        width: 380px;
        height: 500px;
        border-radius: 0 30px 30px 0;
        padding-left: 70px;
    }

    main h2 {
        margin-top: 5px;
        padding: 10px 0;
        font-size: 1.4em;
    }

    main input {
        margin-top: 40px;
        font-size: 1.3em;
    }

    main input:hover {
        cursor: pointer;
        background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    }

    footer {
        font-size: 1em;
        padding: 30px;
    }
}